
<head>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pacifico&display=swap"
        rel="stylesheet">
</head>
<nav class="ocean-nav">
        <div class="nav-container">
            <a href="#hero-section" class="logo">Biển Xanh</a>
            <ul>
                <li><a href="/" class="nav-link active">Trang Chủ</a></li>
                <li><a href="/about" class="nav-link">Giới Thiệu</a></li>
                <li><a href="/species" class="nav-link">Sinh Vật Biển</a></li>
                <li><a href="/rooms" class="nav-link">Chat</a></li>
                <li><a href="#bao-ve-bien" class="nav-link">Bảo Vệ Biển</a></li>
                
                
            </ul>
            
        </div>
    </nav>