<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <video autoplay muted loop id="bgVideo">
<source src="/videos/background_login.mp4" type="video/mp4">
</video>
<div id="videoOverlay"></div>

  <h1>Login</h1>
  <form id="loginForm">
    <label>Username:    <input type="text" name="username" required /></label><br/>
    <label>Password: <input type="password" name="password" required /></label><br/>
    <button type="submit">Login</button>
    <p><a href="/register"> Chưa có tài khoản </a></p>
  </form>
  <div id="message" class="message"></div>

  <script src="/js/auth/login.js"></script>
</body>
</html>